* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;

    overflow-x: -webkit-marquee;
    -webkit-marquee-style: scroll;
    -webkit-marquee-speed: slow;
}

*::selection {
    --colors-pink: rgb(243, 182, 230);
    background: var(--colors-pink);
    color: rgb(249, 206, 236);
    -webkit-text-fill-color: #101026;
}

@font-face {
    font-family: 'Aron-Normal';
    src: url(../Fonts/Aron-Normal.ttf) format('truetype');

}

::-webkit-scrollbar {
    width: 0;
}

body {
    background: #000001;
    height: auto;
}

/* Main Settings */

section {
    max-width: 860px;
    margin-inline: auto;
    align-items: center;

    display: flex;

    flex-direction: column;

    margin-top: 35vh;
    margin-bottom: 45vh;
}

.section_name {
    display: flex;
    gap: 0px;
    transition: all 0.3s;
}

.back_url:hover .section_name{
    gap: 35px;
    transition: all 0.2s cubic-bezier(0, 0, 1.04, 0.02);
}

.back_url:active .section_name{
    gap: 45px;
    transition: all 0.2s cubic-bezier(0, 0, 1.04, 0.02);
    color: #343434;
}

.section_name p {
    color: #02E663;
    font-size: 64px;
    line-height: 100%;
    font-family: 'Aron-Normal';
    font-weight: 400;
    letter-spacing: -3%;
}

.section_content {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.section_deiscription {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
}

.back {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-decoration: underline;
}

.sent {
    color: #343434;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.back_url {
    text-decoration: none;
}